version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
  - package-ecosystem: npm
    directory: "/javascript"
    target-branch: "dev"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      
