name: Verify PR

on:
  pull_request:
    paths:
      - "src/**"
      - "package.json"
      - "package-lock.json"
      - "config/**"

env:
  NODE_VERSION: 24

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: |
          npm install --production

      - name: build ClientApp
        run: |
          npm run build
